/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header-area {
    background-color: #000;
  }
  #navigation-menu li {
    padding: 15px 0 5px;
  }
  .hero-title {
    font-size: 55px;
  }
  .hero-title span {
    font-size: 38px;
  }
  .after-line::before,
  .after-line::after {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-area {
    background-color: #000;
  }
  #navigation-menu li {
    padding: 15px 0 5px;
  }
  .after-line::before,
  .after-line::after {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-area {
    background-color: #000;
  }
  #navigation-menu li {
    padding: 15px 0 5px;
  }
  .after-line::before,
  .after-line::after {
    display: none;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #navigation-menu li {
    padding: 0 20px;
  }
  .hero-title {
    font-size: 55px;
  }
  .hero-title span {
    font-size: 40px;
  }
  .services-area {
    padding-bottom: 100px;
  }
  .single-service {
    padding: 0 10px;
  }
  .service-icon i {
    font-size: 40px;
    height: 125px;
    width: 125px;
    line-height: 125px;
  }
  .service-icon i::after {
    height: 152px;
    width: 152px;
  }
  .after-line::after {
    right: -50.5%;
  }
  .after-line::before {
    left: -50.5%;
  }
  .portfolio-area,
  .testimonial-area {
    padding: 100px 0;
  }
  .project-info {
    padding-right: 0px;
  }
  .project-info h3 {
    font-size: 20px;
  }
  .project-info .cstm-btn {
    padding: 3px 22px;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
